<h1>Pirate Black Book</h1>
<form method="post" action ='/pirates' >
  <p>
      <label>Name</label>
      <input type=text name=pirate[name]>
    </p>
  <p>
      <label>Weight</label>
      <input type=text name=pirate[weight]>
    </p>
  <p>
    <label>Height</label>
      <input type=text name=pirate[height]>
    </p>

    <p>ship_name_1:  <input id="ship_name_1" type="text" name="pirate[ships][][name]"></p>
    <p>Ship  Type:  <input id="ship_type_1" type="text" name="pirate[ships][][type]"></p>
    <p>Ship Booty:  <input id= "ship_booty_1" type="text" name="pirate[ships][][booty]"></p>
    <p>ship_name_2  <input id="ship_name_2" type="text" name="pirate[ships][][name]"></p>
    <p>Ship  Type:  <input id="ship_type_2" type="text" name="pirate[ships][][type]"></p>
    <p>Ship Booty:  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]"></p>

<input type="submit" value="Submit" >
</form>
